:root{
  --color-principal: #B8226A;
  --color-segundo: #F8E5DF;
  --color-tercero: #FFA041;
  --color-text:#4B102D;
  --texto-h1: 48px;
  --texto-h2: 30px;
  --texto-h3:15px;
  --texto-h4: 10px;
  --texto-parrafos:18px;
  --texto-btn:24px
}
/* clases carrito */
.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  height: 100vh; /* Establece la altura del contenedor principal al 100% del viewport */
}

.cart-container {
  width: 100%; /* Ajusta el ancho del carrito al 100% */
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
}

.item-title {
  font-weight: bold;
  font-size: var(--texto-h4);
}

.item-price {
  margin-top: 5px;
}

.item-quantity {
  display: flex;
  align-items: center;
}

.quantity-button {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  background-color: #B8226A; /* Color de fondo del botón */
  color: white; /* Color de texto del botón */
  border-radius: 50%; /* Puntas redondeadas del botón */
  cursor: pointer;
}

.btn-submit {    /* boton enviar pedido*/
  margin-top: 20px; /* Espacio superior */
  background-color: #B8226A; /* Color de fondo  */
  color: white; /* Color de texto */
  border-radius: 50px; /* Puntas redondeadas  */
  text-align: center; /* Centra el texto */
  display: block; /* Hace que el botón ocupe todo el ancho disponible */
  margin-left: auto; /* Centra el botón horizontalmente */
  margin-right: auto; /* Centra el botón horizontalmente */
}