.navbar{
    background-color: #B8226A;
}

.imagen-icon-nav{
    display: flex;
    width: 20px;
    height: 20px;
}
#img-icon{
width: auto ;
height: auto;
max-width:100% ;
max-height: 100%;
}

#img-icon-carrito{
    width: auto ;
height: auto;
max-width:100% ;
max-height: 100%;
}

#img-principal{
    width: auto;
    height: auto;
max-width:100% ;
max-height: 100%;
margin-top: 5px;
}

.categorias-1, .categorias-2 , .categorias-3 {
    width: 30%;
    height: 30%;
}

.img-categorias{
    max-width: 100%;
    max-height: 100%;
}
